@import "tailwindcss";

@theme {
  /* 1. 先在主题区块声明所有变量名和默认（亮色）值 */
  --color-primary: #1677ff;
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-error: #ff4d4f;
  --color-border: #d9d9d9;


  --color-defaultColor: rgba(255,255,255,0.85);
  --color-defaultBg: #000;



  --color-text-main: rgba(0, 0, 0, 0.88);
  --color-border-base: #d9d9d9;
  
 
}

@layer base {
   :root[data-theme='dark'] {
    --color-defaultColor: rgba(0,0,0,0.85);
    --color-defaultBg: #fff;

 
  }
}

